---
import { Github, Linkedin, Twitter, Mail, Globe, GithubIcon } from "@lucide/astro";
---

<section class="flex flex-row gap-5 mt-5 w-full font-family-inter">
  <div class="flex justify-center items-center bg-[var(--color-background-bento)] px-10 py-8 rounded-[122px]">
    <div class="flex flex-row items-center gap-2">
      <Linkedin size={24} />
      <span class="text-2xl">LinkedIn</span>
    </div>
  </div>
  <div class="flex justify-center items-center bg-[var(--color-background-bento)] rounded-[122px]">
    <div class="flex flex-row items-center gap-2">
      <Twitter size={24} />
      <span class="text-2xl">Twitter</span>
    </div>
  </div>
  <div class="flex justify-center items-center bg-[var(--color-background-bento)] rounded-[122px]">
    <div class="flex flex-row items-center gap-2">
      <GithubIcon size={24} />
      <span class="text-2xl">GitHub</span>
    </div>
  </div>
  <div class="flex justify-center items-center bg-[var(--color-background-bento)] rounded-[122px]">
    <div class="flex flex-row items-center gap-2">
      <Mail size={24} />
      <span class="text-2xl">Email</span>
    </div>
  </div>
  <div class="flex justify-center items-center bg-[var(--color-background-bento)] rounded-[122px]">
    <div class="flex flex-row items-center gap-2">
      <Linkedin size={24} />
      <span class="text-2xl">LinkedIn</span>
    </div>
  </div>
  <div class="flex justify-center items-center bg-[var(--color-background-bento)] rounded-[122px]">
    <div class="flex flex-row items-center gap-2">
      <Linkedin size={24} />
      <span class="text-2xl">LinkedIn</span>
    </div>
  </div>

</section>