---
import GithubIcon from "@/components/ui/icons/GithubIcon.astro";
import LinkedinIcon from "@/components/ui/icons/LinkedinIcon.astro";
import TwitterIcon from "@/components/ui/icons/TwitterIcon.astro";
import EmailIcon from "@/components/ui/icons/EmailIcon.astro";
import WebsiteIcon from "@/components/ui/icons/WebsiteIcon.astro";
import Unsplash from "../ui/icons/unsplash.astro";
---

<section
  id="social-media-section"
  class="flex flex-wrap gap-3 lg:gap-4 mt-5 w-full font-inter fade-up"
  style="--fade-delay: 1700ms; --fade-translate-y: -40px; --fade-ease: cubic-bezier(0.7, 0, 0.3, 1);"
>
  <a href="https://www.linkedin.com/in/adrianfg17/" target="_blank" class="flex flex-1 justify-center items-center min-w-[180px] h-16 bentoSocialMedia">
    <div class="flex flex-row items-center gap-2">      
      <LinkedinIcon className="w-6 h-6" />
      <p class="text-text text-xl">linkedin</p>

    </div>
  </a>
  <a href="https://github.com/delafug-dev" target="_blank" class="flex flex-1 justify-center items-center min-w-[180px] h-16 bentoSocialMedia">
    <div class="flex flex-row items-center gap-2">      
      <!-- <img src="icons/github.svg" alt="GitHub Icon" class="w-6 h-6" /> -->
       <GithubIcon className="w-6 h-6"/>
      <p class="text-text text-xl">github</p>
    </div>
  </a>
  <!-- <div class="flex flex-1 justify-center items-center min-w-[180px] h-16 bentoSocialMedia">
    <div class="flex flex-row items-center gap-2">      
      <TwitterIcon className="w-6 h-6" />
      <p class="text-white text-xl">twitter</p>
    </div>
  </div> -->
  <a href="https://unsplash.com/es/@adrianfg99" target="_blank" class="flex flex-1 justify-center items-center min-w-[180px] h-16 bentoSocialMedia">
    <div class="flex flex-row items-center gap-2">      
      <Unsplash className="w-6 h-6" />
      <p class="text-text text-xl">unsplash</p>
    </div>
  </a>
  <!-- <div class="flex flex-1 justify-center items-center min-w-[180px] h-16 bentoSocialMedia">
    <div class="flex flex-row items-center gap-2">      
      <WebsiteIcon className="w-6 h-6" />
      <p class="text-white text-xl">website</p>
    </div>   -->
  </div>
</section>

<script>
    window.addEventListener("DOMContentLoaded", () => {
    const nav = document.getElementById("social-media-section");
    if (!nav) return;
    void nav.offsetHeight;
    nav.classList.add("is-animated");
  });
</script>
</script>